@media screen and (max-width:768px) {
    
    body {
        font-size: 1em;
    }

    a{
        font-size: 1.4em;
    }

    div.teste2{
    background-color: aquamarine;
    background-image: url(../fotos/camisa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 100px;
    height: 300px;
    margin: 40px;
    flex: 1 0 100px;
    }

    .recomendados nav{
        width: 600px;
        height: 190px;
        overflow-y: hidden; /* tira a rolagem vertical */
        overflow-x: auto;   /* mantém horizontal se precisar */
        padding-top: 10px;
    }

    .recomendados img:hover{
    transition: 0.3s;
    transform: scale(1.1.2);
    }

  
}


@media screen and (min-width:769px) and (max-width:1280px){
    .vitrine img{
        width: 300px;
        margin-left: 165px;
        
    }
}

@media screen and (min-width:1281px) and (max-width:1600px) {

}

/*medias formularios*/

/*@media (max-width: 600px) { ... }     /* Mobile */
/* (min-width: 768px) { ... }     /* Tablet */
/* (min-width: 1024px) { ... }    /* Laptop */
/*(min-width: 1280px) { ... }    /* Desktop */
/*(min-width: 1536px) { ... }    /* Monitores grandes */
/*---------------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

    section#login{
        width: 750px;
        height: 400px;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
        
    }

    #formulario{
        float:right;
        width: 65%;
        height: 100%;
    }

    .enviar{
        margin-left: 35px;
    }

    .enviar a {
        font-size: 15.6px;
    }
}

@media screen and (min-width: 1025px) {

    section#login{
        width: 950px;
        height: 600px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
        
    }

    #formulario{
        float:left;
        width: 46%;
        height: 100%;
    }

    #formulario > h1{
        font-size: 5em;
        color: rgb(14, 14, 14);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.404);
    }

    #formulario p{
        font-size: 1.6em;
        color: rgb(17, 17, 17);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.356);
    }

    .enviar{
        margin-left: 15px;
    }

    .enviar a{
        font-size: 15.6px;
    }
}