body{
    padding: 0;
    margin: 0;
    font: italic normal bold 1em comic, Verdana, sans-serif;
    background-color: rgba(22, 145, 108, 0.541);
}

#cabecario{
    width: 600px;
    padding: 2px;
    margin: auto;
    text-align: center;
    background: lightgray;
    border: 2px dashed rgb(110, 110, 110);
    box-shadow: 0px 0px 3px 0px ;
    margin-bottom: 30px;
}

.conteudo{
    background: lightblue;
    padding: 5px;
    border: 2px dashed rgb(22, 126, 223);
    margin: auto;
    width: 700px;
    margin-bottom: 100px;
}

.conteudo > div{
    background: lightskyblue;
    padding: 5px;
}

.conteudo h2{
    background: rgba(4, 4, 92, 0.616);
    width: 350px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 2pc;
}

footer{
    background: white;
    width: 500px;
    height: 250px;
    text-align: center;
    border: 2px dashed ;
    position: end;
    margin: auto;

}

footer > div{
    background: lightskyblue;
    margin: auto;
    width: 300px;
    padding: 2px;
    border-radius: 2pc;
    margin-bottom: 5px;
}