*{
    padding: 0;
    margin: 0;
}

.cabecario{
    background-color: rgb(231, 152, 33);
    color: black;

    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

    width: auto;
    height: 300px;
    margin: auto;

    display: flex;
    flex-flow: column wrap;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 1s ease-in-out;

}

.cabecario h1{
    align-items: center;
    margin: auto;
    margin-bottom: 6px;

    color: beige;
    font-size: 3rem;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.37);
}

.cabecario p{
    align-items: center;
    margin: auto;
    margin-top:0px;

    color: beige;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.377);


}

.destaques{
    display: flex;              /* ativa o flex */
    justify-content: center;    /* centraliza horizontal */
    align-items: center;        /* centraliza vertical (opcional) */
    gap: 65px;                  /* espaço entre as boxes */

    margin: auto;

    background-color: black;
    width: 100vw;
    height: 650px;

}

div.itens1{

    width: 210px;
    height: 360px;

    margin: 20px;

    background-color: azure;
}

div.itens1:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.destaques > #foto1{
    background-image: url(./fotos/foto-drone1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 250px;
    height: 350px;
}

.destaques > #foto2{
    background-image: url(./fotos/foto-drone2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 250px;
    height: 350px;
}

.destaques > #foto3{
    background-image: url(./fotos/foto-drone3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 250px;
    height: 350px;
}

.destaques .botao{
    padding: 10px;
    width: 100px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

.botao:hover{
    transform: scale(1.08);
    cursor: pointer;

    color: azure;
    background-color: black;

    border: none;
}

.caixa{
    display: flex;
    justify-items: first baseline;

    background-color: black;
}

.sobre{
    background-color: black;

    width: 100vw;
    height: 400px;
}

.sobre > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    
    color: rgb(214, 214, 213);

    width: 140px;
    height: 56px;

    margin: left;
    margin-left: 200px;

}

.contato > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    
    color: rgb(214, 214, 213);

    width: 140px;
    height: 56px;

    margin: right;
    margin-left: 100px;

}


.sobre > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;

    background: linear-gradient(135deg, lightsalmon, orange);

    width: 600px;
    padding: 25px;

    border-radius: 15px;

    margin-left: 100px;
}

.contato > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;

    background: linear-gradient(135deg, lightsalmon, orange);

    width: 600px;
    padding: 25px;

    border-radius: 15px;

    margin-right: 100px;
}

